@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/lyft';

.package {
  .header {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
  }

  .footer {
    display: flex;
    p.description {
      width: 100%;
      margin-bottom: 10px;
      font-size: $font-size-sm;
      color: $grey-dark;
    }
  }

  .details {
    display: flex;
    font-size: 80%;
    color: $grey-light;
    padding-top: 5px;
    .license {
      width: 20%;
      text-align: right;
    }

    .homepage {
      width: 80%;
    }
  }

  > a {
    display: block;
    position: relative;
    color: inherit;
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
    text-decoration: none;

    .title {
      width: 100%;

      h1 {
        color: $lyft-dark-indigo;
        font-size: $font-size-lg;
        margin: 0;
        letter-spacing: normal;


        :global {
          .el-tag {
            margin-left: 5px;
          }
        }
      }
    }

    .author {
      color: $grey-light;
      font-size: inherit;
      width: 30%;
      text-align: right;
    }
  }
}
