@import '../../styles/variables';
@import '../../styles/mixins';

@-webkit-keyframes borderlava {
  0% {border-bottom-color: #0dc98b;} 
  33% {border-bottom-color: #8f91ff;}
  66% {border-bottom-color: #0f7abc;}
  100% {border-bottom-color: #0dc98b;}
}

.header {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  background: $white;
  color: $white;
  z-index:1;
  position: fixed;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  animation: borderlava 10s infinite;

  .headerWrap {
    display: flex;
    align-items: center;
    @include container-size;
    padding-top: 5px;
  }
  
	@-webkit-keyframes lavalamp {
		0% {fill: #0dc98b;} 
		33% {fill: #8f91ff;}
		66% {fill: #0f7abc;}
		100% {fill: #0dc98b;}
  }

  .logo {
    height: 45px;
    width: 45px;
    vertical-align: middle;
    animation: lavalamp 10s infinite;
    margin-right: 20px;
  }
}
