@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  background: $white;
  color: $white;

  figure {
    margin: 0 0 0 10px;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    padding: 8px 0;
  }

  .headerWrap {
    display: flex;
    align-items: center;
    @include container-size;
  }

  .logo {
    height: 35px;
    margin-top: 5px;
  }
}

